*
{
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(assets/image.jpg);
  background-size: cover;
  background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.form-container {
  display: flex;
  align-items: center; /* Vertically align items if needed */
}

.text-box {
  margin-right: 10px; /* Add space between the text box and button */
}

.submit-button {
  padding: 8px 15px; /* Adjust button size */
}


.welcome-message {
  padding-top: 200px;
  padding-left: 10px;
  padding-bottom: 0px;
}

.welcome-message h1 {
  font-size: 55px;
  font-weight: bold;
  color: #fff;
}

.welcome-message p {
  font-size: 1rem;
  color: #fff;
  margin-top: 10px;
  font-family: 'Rubik', sans-serif;
  padding-top: 20px;
}


/* Gradient background for the navbar */
.navbar {
  font-family: 'Arial', sans-serif;
  padding: 10px 0;
}

.navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ffffff !important;
}

.navbar-brand:hover {
  color: #ffe7d9 !important;
}

.navbar-nav .nav-link {
  color: #ffffff !important;
  margin: 0 10px;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease;
  outline: none !important;
  border: 2px solid white;
  border-radius: 50px;
  background: transparent;
  padding: 8px, 0;
}

.navbar-nav .nav-link:hover {
  color: #ffe7d9 !important;
}

/* Modal styles */
.modal-content {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background: #ff7e5f;
  color: white;
  border-bottom: none;
}

.modal-title .nav {
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-title .nav-link {
  color: #ffffff !important;
  margin: 0 10px;
  transition: color 0.3s ease, transform 0.2s ease;
}

.modal-title .nav-link:hover {
  color: #ffe7d9 !important;
  transform: scale(1.05);
}

.modal-body {
  padding: 20px;
}

/* Button for modal close */
.btn-close {
  color: #fff;
  opacity: 0.8;
}

.btn-close:hover {
  color: #ffe7d9;
  opacity: 1;
}

/* Gradient background for the entire app */



/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .navbar-nav .nav-link {
    font-size: 1rem;
  }
}
